@model MVC_app.Models.Customer

<h2>Customer Details</h2>
    <ul>
        <li>Customer ID:  @Model.CustomerID</li>
        <li>Company Name:@Model.CompanyName</li>
        <li>Contact Name:@Model.ContactName</li>
        <li>Country: @Model.Country</li>
    </ul>
